<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lamp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lamp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Lamp.Properties.Settings>
            <setting name="Topic" serializeAs="String">
                <value>light_bulb</value>
            </setting>
            <setting name="BrokerIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ApiUrl" serializeAs="String">
                <value>http://localhost:5000</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>Lamp</value>
            </setting>
            <setting name="ContainerName" serializeAs="String">
                <value>light_bulb</value>
            </setting>
            <setting name="SubscriptionName" serializeAs="String">
                <value>sub1</value>
            </setting>
            <setting name="Endpoint" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="EventType" serializeAs="String">
                <value>CREATE</value>
            </setting>
        </Lamp.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Lamp.Properties.Settings>
            <setting name="Event" serializeAs="String">
                <value>CREATE</value>
            </setting>
        </Lamp.Properties.Settings>
    </userSettings>
</configuration>